// Variables
$first-color: #f7dec6;
$second-color: #fdbc7f;
$third-color: #542f0b;
$fourth-color: #ad415b;
$fifth-color: whitesmoke;
$sixth-color: #f57900;

$title-font: Indie Flower;
$header-font: Dosis;
$text-font: Poppins;
$footer-font: Arial;
$btn-font: Noto Sans JP;

// Styles
.content {
    &__warning {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__application {
        display: flex;
        justify-content: center;
    }
}

/* warning */
.warning {
    &__image {
        flex: 0 0 150px;
        & img {
            max-width: 100%;
        }
    }

    &__text {
        flex: 1 1 400px;
        display: flex;
        align-items: center;
        font-family: $text-font;
        color: $third-color;
        font-size: 24px;
        min-width: 100px;
        font-weight: 500;
        padding: 0 10px;

        & p {
            text-shadow: 0 0 10px $sixth-color;
        }

        @media (min-width: 0px) {
            font-size: 18px;
        }

        @media (min-width: 320px) {
            font-size: 20px;
        }

        @media (min-width: 640px) {
            font-size: 24px;
        }
    }

    &__btn {
        margin: 25px 0;
        display: flex;
        align-items: center;
    }

    &__link {
        box-shadow: 0 0 10px $sixth-color;
        &:hover {
            background-color: #f2edd0;
        }
    }
}

/* application */
.application {
    &__body {
        max-width: 1000px;
        padding: 0 10px;
        margin: 0 auto;
    }

    &__item {
        max-width: 500px;
        margin: 0 auto;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
    }

    &__name {
        flex: 1 1 40%;
        margin: 10px;
        display: flex;
        justify-content: flex-start;

        & input {
            display: inline-block;
            color: $third-color;
            font-size: 16px;
            height: 40px;
            padding: 0 0 0 10px;

            &:focus {
                box-shadow: 0 0 10px $third-color;
            }
        }

        @media (min-width: 0px) {
            justify-content: center;
        }

        @media (min-width: 640px) {
            justify-content: flex-start;
        }
    }

    &__phone {
        flex: 1 1 40%;
        margin: 10px;
        display: flex;
        justify-content: flex-end;

        & input {
            display: inline-block;
            color: $third-color;
            font-size: 16px;
            height: 40px;
            padding: 0 0 0 10px;

            &:focus {
                box-shadow: 0 0 10px $third-color;
            }
        }

        @media (min-width: 0px) {
            justify-content: center;
        }
        @media (min-width: 640px) {
            justify-content: flex-end;
        }
    }

    &__order {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        margin: 10px;

        & textarea {
            font-size: 16px;
            color: $third-color;
            width: 100%;
            height: 200px;
            padding: 10px;

            &:focus {
                box-shadow: 0 0 10px $third-color;
            }
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0;
        & span {
            box-shadow: 0 0 10px $sixth-color;
            &:hover {
                background-color: #f2edd0;
            }
        }
    }
}
