// Reset CSS
@import "_nullstyle.scss";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap");

// Variables
$first-color: #f7dec6;
$second-color: rgba(245, 245, 245, 0.8);
$third-color: rgba(0, 0, 0, 0.753);
$fourth-color: #ad415b;
$fifth-color: whitesmoke;
$header-color: rgba(245, 245, 245, 0.329);
$footer-color: rgba(0, 0, 0, 0.97);

$title-font: Indie Flower;
$header-font: Dosis;
$text-font: Poppins;
$footer-font: Arial;
$btn-font: Noto Sans JP;

/* Titles */
/* title */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $title-font;
    font-weight: 500;
    text-transform: capitalize;
    color: $third-color;
    text-shadow: 2px 2px 5px $third-color;

    @media (min-width: 0px) {
        font-size: 36px;
        padding: 10px;
    }
    @media (min-width: 320px) {
        font-size: 38px;
        padding: 10px;
    }
    @media (min-width: 640px) {
        font-size: 50px;
        padding: 15px;
    }
    @media (min-width: 1024px) {
        font-size: 56px;
    }
}

/* subtitle */
.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $title-font;
    font-weight: 500;
    text-transform: capitalize;
    color: $third-color;
    text-shadow: 2px 2px 5px $third-color;

    @media (min-width: 0px) {
        font-size: 36px;
    }
    @media (min-width: 320px) {
        font-size: 36px;
    }
    @media (min-width: 640px) {
        font-size: 48px;
    }
}

/* label */
.label {
    text-align: center;
    font-family: $title-font;
    color: $third-color;
}

/* buttons */
.btn-1 {
    display: inline-block;
    font-size: 20px;
    font-family: $btn-font;
    border: 0px;
    border-radius: 3px;
    padding: 12px 20px;
    background-color: $third-color;
    color: $second-color;
    transition: all 0.4s ease 0s;
    position: relative;

    &:hover {
        background-color: $second-color;
        color: $third-color;
        box-shadow: 0 0 10px $third-color;
    }

    &:active {
        background-color: $second-color;
        color: $third-color;
    }
}

/* Styles */
/* wrapper */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* container */
.container {
    overflow: hidden;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 15px;

    @media (min-width: 0px) {
        max-width: none;
    }

    @media (min-width: 320px) {
        max-width: 610px;
    }

    @media (min-width: 640px) {
        max-width: 1000px;
    }

    @media (min-width: 1024px) {
        max-width: 1000px;
    }

    @media (min-width: 1280px) {
        max-width: 1430px;
    }

    @media (min-width: 1920px) {
        max-width: 1800px;
    }
}

/* header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 17;
    background-color: $header-color;
    font-family: $header-font;
    font-weight: 500;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $header-color;
        z-index: 2;
        box-shadow: 5px 0 10px #542f0b;
    }

    &__row {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        position: relative;
        z-index: 3;
        order: 2;
        flex: 0 0 90px;
        & img {
            max-width: 100%;
            max-height: 75px;
            display: block;
        }
    }

    &__burger {
        display: none;
    }

    &__navigation {
        order: 1;
        display: flex;
        width: 550px;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }

    &__link {
        font-size: 22px;
        color: $third-color;
        text-shadow: 0 0 10px white;

        &:hover {
            color: $fifth-color;
            text-shadow: 0 0 10px $fifth-color;
        }
    }

    @media (max-width: 767px) {
        .header {
            &__row {
                height: 50px;
                justify-content: left;
            }

            &__logo {
                flex: 0 0 55px;
                order: 2;
            }

            &__burger {
                display: block;
                position: relative;
                order: 1;
                width: 30px;
                height: 20px;
                position: relative;
                z-index: 3;

                &::after,
                &::before {
                    content: "";
                    background-color: $third-color;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    transition: all 0.3s ease 0s;
                }

                &::before {
                    top: 1px;
                }

                &::after {
                    bottom: 0;
                }

                & span {
                    position: absolute;
                    background-color: $third-color;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    top: 10px;
                    transition: all 0.3s ease 0s;
                }

                &.active {
                    &::before {
                        transform: rotate(45deg);
                        top: 9px;
                    }

                    &::after {
                        transform: rotate(-45deg);
                        bottom: 9px;
                    }

                    & span {
                        transform: scale(0);
                    }
                }
            }

            &__navigation {
                position: fixed;
                display: block;
                top: -100%;
                left: 0;
                width: 100%;
                overflow: auto;
                background-color: $first-color;
                transition: all 0.3s ease 0s;
                z-index: 1;
                padding: 50px 10px 20px 10px;
                box-shadow: 5px 0 10px #542f0b;

                &.active {
                    top: 0;
                }
            }

            &__link {
                display: flex;
                align-items: center;
                height: 50px;
            }
        }
    }
}

/* highlights active tab in headder */
.active-tab {
    color: $first-color;
    text-shadow: 0 0 5px $third-color;
}

/* content */
.content {
    flex: 1 1 auto;
    font-family: $text-font;
    background: linear-gradient(rgba(255, 255, 255, 0.5)), url(../img/fone_2.jpg) repeat;

    &__row {
        display: flex;
        flex-direction: column;
    }

    &__main-slider {
        display: block;
        padding: 90px 0 0 0;
        position: relative;
    }

    &__title {
        padding: 20px 0;
    }

    &__offers {
        display: flex;
        flex-wrap: wrap;
    }

    &__combos {
        display: flex;
        flex-wrap: wrap;
    }

    &__menu {
        display: block;
    }

    &__adv {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        max-height: 400px;
    }

    &__delivery {
        display: flex;
        flex-wrap: nowrap;
        font-family: $text-font;
        font-size: 18px;
        color: $third-color;
        background-color: rgba(255, 255, 255, 0.9);

        @media screen and (min-width: 0) {
            flex-wrap: wrap;
        }

        @media screen and (min-width: 640px) {
            flex-wrap: nowrap;
        }
    }
}

/* main-slider */
.main-slider {
    &__slides {
        display: flex;
        justify-content: center;
    }
    &__item {
        display: none;
        height: 570px;
        width: 1300px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__main-slider-btns {
        display: block;
    }
}
//sliders buttons
.main-slider-btns {
    &__prev,
    &__next {
        position: absolute; //relatively from main-slider
        cursor: pointer;
        top: 50%;
        padding: 16px;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    &__next {
        right: 3.6%;
    }
    &__prev {
        left: 3.6%;
    }
}

/* offers */
.offers {
    &__column {
        flex: 1 1 47%;
        background-color: $second-color;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 0 10px $third-color;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    &__image {
        & img {
            max-width: 100%;
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
        }
    }

    &__text {
        flex: 1 1 auto;
        font-size: 18px;
        margin: 10px 0 0 0;
        padding: 5px;
        color: $third-color;

        & span {
            color: $fourth-color;
        }
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        margin: 10px;
    }
}

/* combos */
.combos {
    &__column {
        flex: 1 1 31%;
        background-color: $second-color;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 0 10px $third-color;
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;

        @media (min-width: 0px) {
            flex: 1 1 50%;
        }

        @media (min-width: 640px) {
            flex: 1 1 31%;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    &__image {
        & img {
            max-width: 100%;
            border-top-right-radius: 50px;
            border-top-left-radius: 50px;
        }
    }

    &__label {
        background-color: $first-color;

        @media (min-width: 0) {
            font-size: 36px;
        }
        @media (min-width: 320px) {
            font-size: 38px;
        }
        @media (min-width: 640px) {
            font-size: 44px;
        }
        @media (min-width: 1024px) {
            font-size: 46px;
        }
    }

    &__text {
        flex: 1 1 auto;
        font-size: 18px;
        margin: 10px 0 0 0;
        padding: 5px;
        color: $third-color;

        & span {
            color: $fourth-color;
        }
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        margin: 10px;
    }
}

/* menu */
.menu {
    &__pizza {
        flex: 1 1 69%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (min-width: 0) {
            flex: 1 1 100%;
        }

        @media (min-width: 1024px) {
            flex: 1 1 69%;
        }
    }

    &__milkshake {
        flex: 1 1 29%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

/* pizza */
.pizza {
    &__subtitle {
        flex: 1 1 100%;
    }

    &__item {
        flex: 0 0 32%;
        display: flex;
        flex-direction: column;

        border-radius: 5px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: $second-color;
        box-shadow: 0 0 10px $third-color;

        @media (min-width: 0) {
            flex: 0 0 100%;
            margin: 15px 0 0 0;
        }
        @media (min-width: 640px) {
            flex: 0 0 48%;
            margin: 20px 0 0 0;
        }
        @media (min-width: 1024px) {
            flex: 0 0 30%;
        }
    }

    &__image {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        & img {
            max-width: 100%;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
        }
    }

    &__label {
        background-color: $first-color;

        @media (min-width: 0) {
            font-size: 36px;
        }
        @media (min-width: 320px) {
            font-size: 38px;
        }
        @media (min-width: 640px) {
            font-size: 40px;
        }
        @media (min-width: 1024px) {
            font-size: 42px;
        }
    }

    &__text {
        flex: 1 1 100%;
        font-family: $text-font;
        font-size: 18px;
        padding: 5px;
        color: $third-color;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
    }

    &__link {
        padding: 8px 14px;
        font-size: 16px;
    }
}

/* milkshake */
.milkshake {
    &__subtitle {
        flex: 1 1 100%;
        margin: 15px 0 15px 0;
    }

    &__item {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        margin: 10px 0 0 0;

        border-radius: 5px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        background-color: $second-color;
        box-shadow: 0 0 10px $first-color;

        @media (min-width: 0) {
            flex: 1 1 100%;
        }

        @media (min-width: 640px) {
            flex: 0 0 30%;
        }
    }

    &__image {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        & img {
            max-width: 100%;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
        }
    }

    &__label {
        background-color: $first-color;

        @media (min-width: 0) {
            font-size: 36px;
        }
        @media (min-width: 320px) {
            font-size: 38px;
        }
        @media (min-width: 640px) {
            font-size: 40px;
        }
        @media (min-width: 1024px) {
            font-size: 42px;
        }
    }

    &__text {
        flex: 1 1 100%;
        font-family: $text-font;
        font-size: 18px;
        padding: 5px;
        color: $third-color;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
    }

    &__link {
        padding: 8px 14px;
        font-size: 16px;
    }
}

/* adv */
.adv {
    &__video-item {
        padding: 30px 0;
        max-width: 600px;
    }
}

/* delivery */
.delivery {
    &__introduce {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        padding: 20px;
        p {
            font-size: 28px;
        }
        span {
            color: orange;
            font-size: 24px;
        }
    }

    &__description {
        flex: 1 1 100%;
        font-size: 22px;
        p {
            padding: 20px;
        }
        span {
            color: orange;
        }
    }

    &__guarantees {
        flex: 1 1 100%;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            padding: 20px;
        }
        span {
            color: orange;
        }
    }
}

/* footer */
.footer {
    background-color: $footer-color;
    font-family: $footer-font;
    color: $fifth-color;

    &__row {
        display: flex;
        justify-content: center;
    }

    &__info {
        padding: 15px 30px;
    }

    &__phone-call {
        font-size: 18px;
        padding: 10px 0;
        a {
            color: $fifth-color;
        }
    }

    &__work-time {
        padding: 10px 0;
        font-size: 16px;
    }

    &__serviced-cards {
        display: flex;
        align-items: center;
        img {
            margin: 0 15px 0 0;
        }
    }

    &__social-media {
        display: flex;
    }

    &__social-media-link {
        height: 40px;
        margin: 0 10px 0 0;
        opacity: 0.3;
        transition: opacity 0.5s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__copyrigh {
        font-size: 16px;
        padding: 10px 0;
    }

    &__contract-offer {
        padding: 10px 0;
        a {
            color: $first-color;
        }
    }

    &__form {
    }

    &__item {
    }

    &__form-title {
    }

    &__user-name {
    }

    &_user-mail {
    }

    &__user-text {
    }

    &__button {
    }
}

/* Additional classes */
/* scroll-lock */
.scroll-lock {
    overflow: hidden;
}

/* try to guess */
.show {
    display: block;
}

/* try again */
.hide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 0.6s;

    @keyframes fade {
        0% {
            opacity: 0.1;
        }
        100% {
            opacity: 1;
        }
    }
}
