// Variables
$first-color: #f7dec6;
$second-color: rgba(245, 245, 245, 0.8);
$third-color: rgba(0, 0, 0, 0.753);
$fourth-color: #ad415b;
$fifth-color: whitesmoke;
$sixth-color: rgb(221, 177, 2);
$header-color: rgba(245, 245, 245, 0.329);
$footer-color: rgba(0, 0, 0, 0.97);

$title-font: Indie Flower;
$header-font: Dosis;
$text-font: Poppins;
$footer-font: Arial;
$btn-font: Noto Sans JP;

// Styles
.content {
    &__adv {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        max-height: 400px;
        padding: 20px 0;
    }
}
.adv {
    &__video-item {
        padding: 5px 0;
        max-width: 600px;

        @media (min-width: 0px) {
            max-width: 200px;
        }

        @media (min-width: 320px) {
            max-width: 320px;
        }

        @media (min-width: 640px) {
            max-width: 600px;
        }
    }
}
